html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Nirmala UI", Arial, sans-serif;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

header > * {
    padding: 0 1rem;
}

.nav-item, #logo {
    text-decoration: none;
    color: #000;
}

.nav-item:hover {
    opacity: 0.7;
}

nav ul {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.active {
    color: red;
}

nav ul li {
    display: flex;
    margin: 0 1rem;
    list-style-type: none;
}

#logo {
    font-size: 1.5rem;
}

main {
    margin: 1rem;
    flex-grow: 1;
}

footer {
    border-top: #2d3748 solid 2px;
    height: 5rem;
    margin: 0 1rem;
}
