.sideBarOpen{
    animation: sliderOpen 0.6s ease;
    animation-fill-mode: forwards;
}

.sideBarClose{
    animation: sliderClose 0.6s ease;
    animation-fill-mode: forwards;
}

@keyframes sliderOpen {
    0%{transform: translateX(100%)}
    100%{transform: translateX(0%)}
}

@keyframes sliderClose {
    0%{transform: translateX(0%)}
    100%{transform: translateX(100%)}
}
